body {
    overflow: hidden;
    margin: 0px;
}
input {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: transparent;
}
textarea {
    width: 100vw;
    height: 100vh;
    resize: none;
    border: none;
    padding: 20px;
    margin: 0px;
    outline: none;
}